@import url("./box.css");

*{
  font-size: 20px;
}

li {
  background-color: antiquewhite;
  color: red;
}

.orange {
  color: orange;
}

#orange {
  color: gray;
}


.css_link {
  color: green;
  margin: 20px;
}

.css_import {
  color: yellow;
  margin: 20px;
}

span.orange {
  text-decoration: underline;
}

ul > .apple {
  color: rebeccapurple;
}

ol li {
  color: skyblue;
}

.carrot + li {
  font-size: 100px;
}

.cucumber ~ li {
  text-decoration: line-through;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: coral;
  transition: 1s;
}

.box1:hover {
  width: 300px;
  background-color: royalblue;
}

a:active {
  color: black;
}



input:focus {
  background-color: aqua;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: coral;
  transition: 1s;
}

.box2:focus {
  width: 300px;
  background-color: royalblue;
}

.fruits span:first-child {
  color: pink;
}

/* 해당 요소가 없기때문에, 적용이 안됨 */
.fruits div:first-child {
  color: palevioletred;
}

.fruits h3:last-child {
  color:darkviolet;
}

.fruits *:nth-child(2) {
  color: darkslategrey;
  background-color: chocolate;
}

.fruits *:not(span) {
  text-decoration: line-through;
}

.box3::before {
  content: "앞!!";
}

.box3::after {
  content: "뒤!!";
}

[disabled] {
  color: red;
}

[type="password"] {
  color : blue;
}

.animal {
  color: green;
}

.parent {
  width: 300px;
  height: 300px;
  background-color: orange;
}

.child {
  width: 100px;
  height: inherit;
  background-color: inherit;
}

.box4 {
  width: auto;
  height: auto;
  background-color: orange;
}

.span1 {
  /* 너비는 적용이 안됨 */
  width: 100px;
  height: 100px;
  background-color: orange;
}

.parent1 {
  width: 300px;
  height: 200px;
  background-color: royalblue;
  font-size: 10px;
}

.child1 {
  width: 50vw;
  height: 100px;
  background-color: orange;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: palevioletred;
  margin-bottom: 10px;
}

.container .item:first-child {
  padding: 20px;
  border: 4px solid green;
  border-bottom: 10px dashed blue;
}

.container .item:nth-child(2) {
  border-radius: 0 0 0 20px;
}

.item1 {
  width: 100px;
  height: 100px;
  background-color: #a14a4a;
}
.item1:first-child {
  border: 4px solid red;
  padding: 20px;
  box-sizing: border-box;
}

.parent2 {
  width: 200px;
  height: 150px;
  background-color: aqua;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.child2 {
  width: 300px;
  height: 100px;
  background-color: #a14a4a;
}

.opacity {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: cadetblue;
}

.opacity:first-child {
  opacity: 0.07;
}

.opacity:nth-child(2) {
  opacity: 0.4;
}

.opacity:nth-child(3) {
  /* 0.몇 에서 0은 생략 가능 */
  opacity: .7;
}

.opacity:last-child {
  opacity: 1;
}

.text {
  display: block;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: darkcyan;
  background-image: url(../images/3.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 30px 100px;
}