.div1 {
    color: red;
    font-size: 100px;
}

.div2 {
    width: 200px;
    height: 200px;
    background: url("../images/jjakka.jpg");
    background-size: 200px;
    color: blue;
}

.div3 {
    width: 200px;
    height: 100px;
    background-color: orange;
}